*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: "robot";
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  --primary-blue: #1992d4;
  --bg-gray: #e2e8f0;
  --card-white: #ffffff;
  --accent-orange: #f59e0b;
  --text-dark: #0f172a;
  --text-muted: #475569;
  --search-bg: #f1f5f9;

  /* .card {
  background-color: var(--card-white);
  border-left: 4px solid var(--accent-orange);
} */

}


body{
    margin: 0;
    font-family: "robot" ,sans-serif; 
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.6fr 2fr;
}

.sidebar{
    grid-column: 1/2;
    background-color: #1992d4;
    display: grid;
    grid-auto-columns: 1;
    grid-template-rows: auto 1fr auto; 
}

.nav{
    /* height: 110px; */
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    
}

.logo{
    height: 50px;
    padding-left: 30px;
    
}

.nav h2{
    font-family: "robot",sans-serif;
    font-size: 2.4em;
    padding-right: 38px;
    padding-top: 3px;
}

.side-items{
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.item{
    display: flex;
    align-items: center;
    gap: 20px;
}   

.side-items img{    
    height: 25px;
    padding-left: 30px;
}

.item p{
    font-family: "robot",sans-serif;
    font-weight: 900;

}
.contact{

    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
}

.item-2{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 90px;
}

.contact img{
    height: 29px;
   
}
.contact p{
    font-family: "robot",sans-serif;
    font-size: 20px;
    font-weight: 700;
}



.main{
    grid-column: 2/3;
    background-color: #e2e8f0;

}

